# ignore ALL .log files
*.log

# ignore ALL files in ANY directory named ...
api/conexiones/conexion.php
app/capsule/omega.php
app/conexiones/conexion.php
app/conexiones/payment.php
app/conexiones/sendmail.php
app/sections/omega.php
app/prova.php
www/conexiones/conexion.php
mesural.com.code-workspace