/*
* Title: App. Responsive
* Author: Aldasoro
* Template: Mesural
* Version: 0.1.1
* Copyright 2020 Mesural Inc.
* Url: https://www.mesural.com


Content table
--------------
1. Devices < width: 1199px
2. Devices < width: 1060px
3. Devices < width: 991px
4. Devices < width: 767px
5. Devices < width: 460px
6. Responsive menu

/* ----- Devices < width: 1350px ----- */
@media (max-width: 1350px) {
	.navegador li{
    	padding-left:30px;
	}
	.navegador .active{
	    padding-left:27px;
	}
	/*.lateral{
	    width:20vw;
	}*/
	.board{
	    width:80vw;
	}
}

/* ----- Devices < width: 1260px ----- */
@media (max-width: 1260px) {
	.title{
		width:180px !important;
	}
	.contingut{
		padding-left:30px !important;
	}
}

/* ----- Devices < width: 920px ----- */
@media (max-width: 920px) {
	.lateral{
		display:none;
	}
	.board{
		margin-left: 0 !important;
		width:100% !important;
		padding-top:60px;
		z-index:1;
		position:relative;
	}
	.lateral-header-mobile{
		display: initial;
	}
	.lateral-footer-mobile{
		display: initial;
	}
	.contingut{
		padding-right:30px !important;
	}
}

/* ----- Devices < width: 650px ----- */
@media (max-width: 650px) {
}

/* ----- Devices < width: 468px ----- */
@media (max-width: 468px) {
    .logo{
        margin-bottom:25px;
    }
    .logo img{
        width:240px;
    }  
	.new input{
		text-align: center;
	}
	.account-settings li{
		margin-bottom:20px;
	}
	.add input{
		width:200px;
	}
	.title{
		width:150px !important;
	}
}