/*
* Title: App. Responsive
* Author: Aldasoro
* Template: Mesural
* Version: 0.1.1
* Copyright 2020 Mesural Inc.
* Url: https://www.mesural.com


Content table
--------------
1. Devices < width: 1199px
2. Devices < width: 1060px
3. Devices < width: 991px
4. Devices < width: 767px
5. Devices < width: 460px
6. Responsive menu

/* ----- Devices < width: 1400px ----- */
@media (max-width: 1400px) {
	.db-content{
		width: 90%;
		min-width: 0px;
	}
	.nav-lateral{
		width: 150px;
	}
	.main-content{
		padding-left: 180px;
	}
}

/* ----- Devices < width: 750px ----- */
@media (max-width: 750px) {
	html,.db-world{
		background-color: #fff;
	}
	.db-box{
		box-shadow: none;
	}
	.db-content{
		width: 100%;
	}
	.content-header{
		width: auto;
		margin:30px 20px 0px 20px;
	}
	.main-menu{
		display: none;
	}
	.main-content{
		padding-left: 0px;
		width: 100%;
	}
	.responsive-menu{
		display: initial;
		margin-left:8px;
	}
	.responsive-menu svg{
		fill: #ccc;
		stroke: none;
		width: 18px;
	}
	.responsive-menu a{
		text-decoration: none;
		color: #333;
	}
	.nav-lateral{
		margin-top:60px;
	}
	.nav-items{
		margin-left:10px;
	}
	.nav-items li{
		margin-bottom:2px;
	}
	.group{
		margin-bottom:5px;
	}
	.responsive-nav svg{
		margin-top:5px;
	}
}

/* ----- Devices < width: 920px ----- */
@media (max-width: 920px) {

/* ----- Devices < width: 650px ----- */
@media (max-width: 525px) {
}

/* ----- Devices < width: 468px ----- */
@media (max-width: 468px) {
}