/*
* Title: App. Style
* Author: Aldasoro
* Template: Mesural
* Version: 0.2.1
* Copyright 2020 Mesural Inc.
* Url: https://www.mesural.com


Content table
--------------
1. Fonts
2. Codi general
3. Estructura
4. Menu lateral
5. Header
6. Content basic
7. Capsules
8. Settings
9. Admin
10. Actividad

/* ----- 1. Fonts ----- */

/* ----- 2. Codi general ----- */
html{
    background:#e3e8ee;
}
body{
    background:rgb(32,33,36);
    height:100%;
    margin:0;
    font-family: 'Segoe UI','Arial',serif;
}
a{
    text-decoration: none;
}
select, input{
    -webkit-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.hidden{
    display: none;
}
.center{
    text-align: center;
}
.disabled{
    opacity: 0.6;
    pointer-events: none;
}

/* ----- 3. Estructura ----- */
.db-world{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    height:100%;
    background-color: #e3e8ee;
    /*background-color: rgba(160,0,0,.02);*/
    
}
.db-content{
    min-width: 1333px;
    position: relative;
}
.nav-lateral{
    height:100vh;
    bottom: 0;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    width: 240px;
    z-index: 10;
    margin-top:50px;
}
.nav-lateral ul{
    list-style: none;
}
.main-content{
    box-sizing: border-box;
    position: relative;
    padding-left: 270px;
    height: 100%;
}

/* ----- 4. Menu lateral ----- */
.nav-items{
    width: 100%;
    padding:0;
    font-size:14px;
}
.nav-items li{
    margin-bottom:3px;
}
.nav-items .active{
    font-weight: 600;
    color:#a00000;
}
.nav-items li > svg{
    fill:#666;
}
.nav-items .active > svg{
    fill:#a00000;
}
.nav-items a{
    color:#555;    
}
.nav-items a:hover{
    opacity: 0.7; 
}
.nav-icon{
    position: relative;
    top: 7px;
    width: 15px;
    margin-right:10px;
}
.group{
    margin-bottom:25px;
}

/* ----- 5. Header ----- */
.content-header{
    margin-top:20px;
    margin-bottom:20px;
    width: 100%;
    display: flex;
}
.responsive-menu{
    width: 100px;
    display: none;
}
.user-welcome{
    width: 100%;
    text-align: right;
    color:#666;
    font-size: 14px;
    float:right;
}
.user-welcome a{
    color:#666;
}
.user-welcome span{
    font-weight:600;
}
.responsive-nav{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 12;
    top:0;
}
.responsive-blur{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 11;
    top:0;
    background:#fff;
    background:rgba(247,250,252,0.85);
    backdrop-filter: blur(3px);  
    -webkit-backdrop-filter: blur(3px);
}
.responsive-nav svg{
    margin-left:20px;
    margin-top:25px;
}

/* ----- 6. Content bàsic ----- */
.box-shadow{
    box-shadow: 0 7px 14px 0 rgba(60,66,87,.08), 0 3px 6px 0 rgba(0,0,0,.12);
}
.db-box{
    background: #fff;
    border-radius: 4px;
    margin-bottom:15px;
}
.title{
    width: 100%;
    padding:30px 30px 0px 30px;
    font-size: 14px;
    color:#333;
    width: auto;
}
.title h1{
    padding:0;
    margin:0;
    font-size: 24px;
}
.simple-title{
    width: 100%;
    padding:20px 20px 20px 20px;
    font-size: 14px;
    color:#333;
    width: auto;
}
.simple-title h2{
    font-size: 18px;
    font-weight: 500;
    margin:0;
}


.border-bottom{
    border-bottom:1px solid #e3e8ee;
}
.body-box{
    font-size: 14px;
    color:#333;
    font-weight: 400;
    margin:0;
    padding: 15px 30px 15px 30px;
}
.body-box h1{
    font-size: 18px;
    color:#333;
    font-weight: 500;
    margin:0;   
}
.body-box > h2{
    font-size: 14px;
    color:#666;
    font-weight:400;
    margin:0;  
    margin-bottom:50px;
}
.body-box > h2 a{
    color:#a00000;
    font-weight: 600;
}
.body-box > h3{
    font-size: 15px;
    color:#333;
    font-weight: 700;
    margin:0px 0px 10px 0px;
}
.btn{
    text-align: center;
    color: #fff;
    padding-top:4px;
    padding-bottom:4px;
    padding-left:8px;
    padding-right:8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    display: initial;
    margin-top:50px;
}
.btn-red {
    color: #fff;
    border: 1px solid #a00000;
    background-color: #a00000;
}
.body-box.grey{
    background-color: #e3e8ee;
    /*background-color: rgba(160,0,0,.03);*/
}
.full-icon > .nav-icon{
    position: relative;
    width: auto;
    margin-right: 0;
    margin-bottom: 10px;
    top:0;
    fill:#ccc;
}
.body-box.full-button{
    padding-top:180px;
    padding-bottom:200px;
}
.footer-box{
    font-size: 14px;
    color:#333;
    font-weight: 400;
    padding: 15px 20px 15px 20px;
    border-top:1px solid #e3e8ee;    
}
.save-section{
    text-align: right;
    display: flex;
    display: block ruby;
}

/*----- 7. Capsules -----*/
.title-value{
    width:auto;
    display: inline-flex;
}
.table-header-buttons{
    display: inline-flex;
    float:right;
}
.table-header-buttons a{
    text-align: center;
    font-weight: 500;
    border-radius: 5px;
    font-size: 14px;
    display: initial;
    padding-top:3px;
    padding-bottom:3px;
    padding-right:5px;
    padding-left:5px;
    margin-left:5px;    
}
.btn-filter{
    color: #333;
    border: 1px solid #ccc;
}
.btn-add{
    background-color: #a00000;
    border: 1px solid #a00000;
    color:#fff;
}
.table-capsules{
    width:100%;
    border-collapse: collapse;
    margin-bottom:20px;
    font-size: 0.9em;
}
.table-capsules th{
    padding:8px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    box-shadow: inset 0 -1px #e3e8ee;
}
.table-capsules td{
    padding:8px;
    box-shadow: inset 0 -1px #e3e8ee;
}
.table-capsules td span{
    color:#888;
}
.table-capsules .id{
    width:50px;
}
.table-capsules .name{
    width: auto;
}
.right{
    text-align: right;
}
.left{
    text-align: left;
}
.table-capsules .last-value, .table-capsules .status{
    width:150px;
    text-align: center;
}
.table-capsules .edit{
    width:20px;
}
.table-capsules .hover:hover{
    background-color: #e3e8ee;
    /*background-color: rgba(160,0,0,.03);*/
}
.table-capsules a{
    text-decoration: none;
    color:#333;
}
.edit-icon{
    position: relative;
    width: 15px;
}

/*----- 8. Settings -----*/
.form-account-settings{
    margin-top:20px;
    margin-left:10%;
    width:80%;
}
.item-setting > label{
    position: relative;
    display: inline-block;
    text-align: right;
    width: 25%
}
.item-setting > input{
    position: relative;
    border: solid 1px #dcdcdc;
    color:#333;
    font-size:13px;
    border-radius:4px;
    box-sizing: border-box;
    padding-left:10px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 250px;
    height: 28px;
}
.item-setting > select{
    position: relative;
    border: solid 1px #dcdcdc;
    color:#333;
    font-size:13px;
    border-radius:4px;
    box-sizing: border-box;
    padding-left:7px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 250px;
    height: 28px;
}
.loadID{
    margin-left:30px;
    margin-top:10px;
    padding-bottom:30px;
}
.save-section a{
    text-align: center;
    font-weight: 500;
    border-radius: 5px;
    font-size: 14px;
    display: initial;
    padding-top:3px;
    padding-bottom:3px;
    padding-right:5px;
    padding-left:5px;
    margin-left:5px;    
}
.btn-cancel{
    color: #333;
    border: 1px solid #ccc;
}
.btn-save{
    background-color: #a00000;
    border: 1px solid #a00000;
    color:#fff;
}
button.btn-save{
    margin-left:5px; 
    display: inline-block;
    padding: 3px 6px 3px 6px;
    font-size: 14px;
    white-space: nowrap;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 4px;
}

/*----- 9. Admin ---*/
.admin-nav{
    width:100%;
    margin-bottom:30px;
}
.admin-nav ul{
    list-style: none;
    margin:0;
    padding: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #e3e8ee;
}
.admin-nav li{
    display: inline;
    margin-right:20px;
    font-weight: 600;
    padding-bottom: 5px;
}
.admin-nav a{
    text-decoration: none;
    color:#999;
}
.admin-nav a:hover{
    color:#666;
}
.admin-nav .active{
    color: #a00000;
    border-bottom: 2px solid #a00000;
}

/* ----- 10. Actividad ----- */
.btn-filter{
    background-color: #fff;
    border: 1px solid #dcdcdc;
    color: #555;
    box-shadow: rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;
    padding:5px 10px 3px 10px !important;

}
.filter-icon{
    position: relative;
    width: 15px;
    fill:#999;
    vertical-align: middle;
    top:-1px;
    margin-right: 4px;
}
.empty-table, .loading-data{
    text-align: center;
    color:#999;
}
.resaltat{
    color:#999;
}
#idData{
    padding-bottom:50px;
}