/*
# Author: ldrs
# Template: Cloudia
# Version: 1.0
# Copyright 2015 Aldasoro Inc
# www: http://www.cloudia.com


Taula de continguts
-------------------

 1.Medium devices
 2.Small devices
 3.Exra small devices


/* ---------- 1. Medium devices --------- */
@media (max-width: 1199px) {
	.slider{
	    width: 63%;
	}
	.pricing{
    	width: 66.6%;
    	text-align: center;
	}
	.down-section-3{
		margin-top: 0px;
		margin-bottom: 50px;
	}
	.macbooks img{
		width: 500px;
	}
}
@media (max-width: 1060px){
	.logo-footer{
		display: none;
	}

}
/* ---------- 2. Small devices ---------- */
@media (max-width: 991px) {
	.img-center{
		padding-bottom: 50px;
	}
	.bloc{
		padding-top: 0px;
	}
	.down-section-2{
		margin-top: 467px;
	}
	.align{
		text-align: center;
	}
	.img-display{
		padding-bottom: 50px;
	    display: block;
	    margin: 0 auto;
	    margin-left: -100px;
	}
	.down-section-3{
		margin-top: 0px;
		margin-bottom: 50px;
		text-align: center;
	}
	.macbooks {
    	text-align: center;
	}
	.macbooks img{
		width: 550px;
	}
	.slider{
	    width: 57%;
	}
	.more-features{
		margin-bottom: 70px;
	}
	.pricing{
    	width: 66.6%;
	}
	.footer{
		text-align: center;
	}
	.footer ul{
		padding-bottom: 30px;
	}
	.suport div{
		margin-bottom:30px;
	}
	.mobile{
		display: initial;
	}
	.no-mobile{
		display: none;
	}
	.language{
		padding-right: 16px !important;
		padding-left: 16px !important;
	}
	.menu li ul{
		text-align: left;
	}
	.menu li ul a{
		padding: 0 !important;
	}
	#devices-text{
		margin-top:75px;
	}
	.reduce-top-50{
		margin-top:-15px;
	}
	.suport img{
		max-width:300px;
	}
}

/* ---------- 3. Extra small devices ---- */
@media (max-width: 767px) {
	input{
		-webkit-appearance: none;
	}
	/* --- index --- */
	.slider{
	    width: 50%;
	}
	.macbooks img{
		width: 95%
	}
	.prefooter{
		display: none;
	}
	.down-section-2{
		margin-top: 0px;
	}
	.title{
		padding-top: 250px;
	}
	.signup-header input{
		display: none;
	}
	.img-display{
		width:95%;
	}
	.menu{
		/*display: none;*/
	}
	.responsive{
		display: inline !important;
		margin-top: 54px;
	}
	.responsive img{
		width: 25px;
	}
	/* --- login --- */
	.background-image{
		position: fixed;
		left:0;
		top:0;
		width:100%;
		height:100%;
  		z-index: 1;

  		display: block;
		background-image: url('../img/header-background.jpg');
	    background-position: top center;
	    background-repeat: no-repeat;
	    background-size: cover;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    background-size: cover;
	}
	.content{
		position: fixed;
		left: 0;
		right: 0;
		z-index: 9999;
	}
	.login-h1{
		margin-top:100px;
		color:#fff;
	}
	.login input{
	    background: rgba(255,255,255,0.5);
	    border: solid 1px rgba(255,255,255,0);
	}
	#devices-text{
		text-align:center;
	}
	p .more-information{
		display:block;
		margin-top:10px;
	}
}

/* ---------- 4. Menu responsive ---- */
.menu-responsive li{
	list-style:none;
    text-transform: uppercase;
    font-family:'Roboto';
    color:white;
    font-size:1.2em;
    padding-top:30px;
    padding-bottom:30px;
}
.menu-responsive li a{
    color:white;
    font-weight: 400;
}
.menu-responsive small{
	font-size:0.8em;
}
.separator{
	height:1px; 
	border-top:1px;
	margin-top:50px;
	background-color:#fff; 
   	border:none; 
}
@media (max-width: 460px) {
	#capsule{
		max-width: 300px !important;
	}
}