/*
* Title: Responsive
* Author: Aldasoro
* Template: Mesural
* Version: 0.1.1
* Copyright 2020 Mesural Inc.
* Url: https://www.mesural.com


Content table
--------------
1. Devices < width: 1199px
2. Devices < width: 1060px
3. Devices < width: 991px
4. Devices < width: 767px
5. Devices < width: 460px
6. Responsive menu

/* ----- 1. Devices < width: 1199px ----- */
@media (max-width: 1199px) {
}

/* ----- 2. Devices < width: 1060px ----- */
@media (max-width: 1060px){
	.logo-footer{
		display: none !important;
	}
}

/* ----- 3. Devices < width: 991px ----- */
@media (max-width: 991px) {
	.footer{
		text-align: center;
	}
	.footer ul{
		padding-bottom: 30px;
	}
	.suport div{
		margin-bottom:30px;
	}
	.mobile{
		display: initial;
	}
	.no-mobile{
		display: none;
	}
	.language{
		padding-right: 16px !important;
		padding-left: 16px !important;
	}
	.menu li ul{
		text-align: left;
	}
	.menu li ul a{
		padding: 0 !important;
	}
	#devices-text{
		margin-top:75px;
	}
	.reduce-top-50{
		margin-top:-15px;
	}
	.suport img{
		max-width:300px;
	}
}

/* ----- 4. Devices < width: 767px ----- */
@media (max-width: 767px) {
}

/* ----- 5. Devices < width: 460px ----- */
@media (max-width: 460px) {
}

/* ----- 6. Responsive menu ----- */