body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 13px;
	line-height: 18px;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #666;
	overflow-x: hidden
}

ul {
	list-style: none
}

hr {
	border: none;
	border-top: 1px solid #ccc;
	margin: 0 0 24px 0;
	width: 100%
}

button,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
select,
ul {
	margin-bottom: 24px;
	margin-top: 0;
	padding: 0
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 300;
	color: #292929
}

.h1,
h1 {
	font-size: 56px;
	line-height: 64px
}

h2 {
	font-size: 32px;
	line-height: 40px;
	font-weight: 700
}

h3 {
	font-size: 20px;
	line-height: 20px
}

h4 {
	font-size: 24px;
	line-height: 32px
}

h5 {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400
}

.h6,
h6 {
	font-size: 12px;
	line-height: 24px;
	font-weight: 700
}

p,
span {
	font-weight: 400
}

@media all and (max-width:767px) {
	p {
		font-size: 12px
	}
}

a,
a:active,
a:focus,
a:hover,
a:visited {
	text-decoration: none;
	outline: 0
}

a {
	font-weight: 600;
	color: #a00000;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	cursor: poitner
}

a:hover {
	color: #eb6715;
	text-decoration: none
}

footer,
section {
	padding: 96px 0;
	position: relative;
	overflow: hidden
}

nav {
	background: #fff;
	-webkit-backface-visibility: hidden;
	max-width: 100%
}

nav ul {
	margin-bottom: 0
}

button,
select {
	font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif
}

button,
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none
}

button[type=submit] {
	height: 50px;
	line-height: 48px;
	border: 2px solid #eb6715;
	background: #eb6715;
	color: #fff;
	width: 100%;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	border-radius: 0
}

button[type=submit]:focus {
	outline: 0
}

select {
	height: 50px;
	background: #f5f5f5;
	width: 100%;
	border-radius: 0;
	border: none;
	outline: 0;
	padding-left: 20px;
	position: relative;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	color: #777;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	cursor: pointer
}

select:focus {
	background: #eee
}

select:active,
select:focus,
select:hover {
	outline: 0;
	border: none
}

img {
	max-width: 100%
}

th {
	line-height: 24px!important
}

audio:-webkit-full-screen,
video:-webkit-full-screen {
	-webkit-transform: translateY(0)
}

video {
	max-width: 100%
}

@media all and (max-width:767px) {
	.h1,
	h1 {
		font-size: 32px;
		line-height: 40px;
		font-weight: 300
	}
	h2 {
		font-size: 24px;
		line-height: 32px
	}
	h3 {
		font-size: 20px;
		line-height: 20px
	}
	h4 {
		font-size: 18px;
		line-height: 26px
	}
	h5 {
		font-size: 16px;
		line-height: 24px;
		font-weight: 400
	}
	.h6,
	h6 {
		font-size: 12px;
		line-height: 24px;
		font-weight: 700
	}
}

@media all and (max-width:1100px) {
	.col-md-push-1 {
		left: 0
	}
}

@media all and (max-width:767px) {
	.text-center-xs {
		text-align: center!important
	}
}

.thin {
	font-weight: 100!important
}

@media all and (max-width:767px) {
	.thin {
		font-weight: 300!important
	}
}

.uppercase {
	font-weight: 400;
	text-transform: uppercase
}

h1.uppercase {
	letter-spacing: 17px;
	margin-right: -17px
}

h2.uppercase {
	letter-spacing: 6px;
	margin-right: -6px
}

h3.uppercase {
	letter-spacing: 6px;
	margin-right: -6px
}

h4.uppercase {
	letter-spacing: 3px;
	margin-right: -3px
}

h5.uppercase {
	letter-spacing: 2px;
	margin-right: -2px
}

.h6-u,
h6.uppercase {
	letter-spacing: 2px;
	font-weight: 700
}

@media all and (max-width:767px) {
	br {
		display: none
	}
}

.text-left {
	text-align: left!important
}

@media all and (max-width:767px) {
	.text-left-xs {
		text-align: left!important
	}
}

ul[data-bullet] li {
	line-height: 32px
}

ul[data-bullet] li i:first-child {
	margin-right: 16px;
	transform: scale(1.5);
	-webkit-transform: scale(1.5);
	display: inline-block
}

.bg-secondary {
	background: #f9f9f9
}

.bg-dark {
	background: #292929
}

.color-body {
	color: #666
}

.image-bg a {
	color: #fff
}

.image-bg a:hover {
	color: #fff;
	opacity: .9
}

.bg-light a {
	color: #eb6715
}

.bg-light a:hover {
	color: #eb6715;
	opacity: 1
}

.main-container {
	clear: both
}

.image-bg hr {
	border-color: #fff;
	opacity: .6
}

.image-bg.bg-light hr {
	border-color: #ccc;
	opacity: 1
}

.bg-dark hr {
	border-color: #555
}

.right {
	right: 0
}

.container {
	position: relative
}

.background-y-bottom {
	background-position-y: bottom!important
}

.nopadding {
	padding: 0!important
}

.louvre {
	background-position: bottom!important
}

.logo-dark,
.logo-light {
	padding: 10px
}

.bg-dark h1,
.bg-dark h2,
.bg-dark h3,
.bg-dark h4,
.bg-dark h5,
.bg-dark h6,
footer.bg-dark h1,
footer.bg-dark h2,
footer.bg-dark h3,
footer.bg-dark h4,
footer.bg-dark h5,
footer.bg-dark h6,
nav.bg-dark h1,
nav.bg-dark h2,
nav.bg-dark h3,
nav.bg-dark h4,
nav.bg-dark h5,
nav.bg-dark h6 {
	color: #fff
}

.bg-dark li,
.bg-dark p,
.bg-dark span,
footer.bg-dark li,
footer.bg-dark p,
footer.bg-dark span,
nav.bg-dark li,
nav.bg-dark p,
nav.bg-dark span {
	color: #fefefe
}

@media all and (max-width:767px) {
	section {
		padding: 80px 0
	}
}

.image-bg h1,
.image-bg h2,
.image-bg h3,
.image-bg h4,
.image-bg h5,
.image-bg h6 {
	color: #fff
}

.image-bg li,
.image-bg p,
.image-bg span {
	color: #fff
}

.image-bg .container,
.image-bg div[class*=col-] {
	position: relative;
	z-index: 3
}

.container.image-bg .row {
	position: relative;
	z-index: 3
}

.background-image-holder {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	background: #292929;
	background-size: cover!important;
	background-position: 50% 50%;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	opacity: 0
}

.background-image-holder img {
	display: none
}

.background-image-holder.fadeIn {
	opacity: 1
}

.btn {
	font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
	border: 2px solid #a00000;
	padding: 0 26px;
	height: 40px;
	min-width: 150px;
	line-height: 36px;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	border-radius: 0;
	color: #a00000;
	text-align: center;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	margin-right: 8px;
	margin-bottom: 24px
}

.btn:last-child,
.btn:last-of-type {
	margin-right: 0
}

.btn:hover {
	background: #a00000;
	color: #fff
}

.btn-icon {
	width: 40px;
	height: 40px;
	font-size: 20px;
	min-width: 0;
	padding: 0;
	line-height: 38px
}

.btn-lg {
	height: 50px;
	line-height: 46px;
	min-width: 200px
}

.btn-icon.btn-lg {
	width: 50px;
	height: 50px;
	line-height: 49px;
	font-size: 24px;
	min-width: 0
}

.btn-icon.btn-sm {
	width: 30px;
	height: 30px;
	line-height: 29px;
	font-size: 13px;
	min-width: 0;
	padding: 0 0 0 1px!important
}

.btn-sm {
	height: 30px;
	font-size: 11px;
	line-height: 27px;
	min-width: 0
}

.image-bg .btn,
.image-bg .btn:visited {
	color: #fff;
	border-color: #fff
}

.btn:hover,
.image-bg .btn:hover,
.image-bg .btn:visited:hover {
	background: #a00000;
	color: #fff;
	border-color: #a00000
}

.bg-light .btn {
	border-color: #222;
	color: #222
}

.bg-light .btn:visited,
.bg-light .btn:visited:hover {
	color: #222
}

.btn:visited {
	color: #a00000
}

.btn:visited:hover {
	color: #fff
}

.btn.bg-dark {
	color: #fff;
	border-color: #292929
}

.btn.bg-dark:hover {
	background: #434343
}

.nav-container {
	-webkit-backface-visibility: hidden;
	max-width: 100%
}

.module {
	display: inline-block;
	padding: 0 32px
}

.module-group {
	display: inline-block
}

.module-group.left,
.module.left {
	float: left
}

.module-group.right,
.module.right {
	float: right
}

.nav-bar .btn,
nav .btn {
	margin: 0;
	height: auto
}

.nav-utility {
	height: 45px;
	line-height: 43px;
	border-bottom: 1px solid #ccc;
	overflow: hidden
}

.nav-utility i {
	position: relative;
	top: 1px
}

.nav-bar {
	height: 65px;
	max-height: 65px;
	line-height: 63px;
	border-bottom: 1px solid #ccc;
	background-color: #fff
}

.nav-bar .module,
.nav-bar .module-group {
	height: 55px
}

.nav-bar a {
	display: inline-block;
	height: 50px;
	text-color: #000
}

.logo {
	max-height: 100%
}

.logo-light {
	display: none;
	padding: 10px
}

nav.bg-dark .logo-light {
	display: inline
}

nav.bg-dark .logo-dark {
	display: none
}

.has-dropdown {
	padding-right: 18px
}

.has-dropdown:after {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 11px;
	content: "\e64b";
	font-family: themify;
	speak: none;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none
}

.menu {
	width: 100%;
	height: 55px;
	font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif
}

.menu li a {
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	color: #292929;
	opacity: .5;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	max-width: 100%;
	white-space: normal
}

.menu li a:hover {
	opacity: 1!important
}

.menu>li {
	margin-right: 32px;
	float: left;
	position: relative;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	opacity: 1
}

.menu>li:last-child {
	margin-right: 0
}

.menu>li:last-child>ul {
	right: 0
}

.menu>li:last-child>ul ul {
	left: auto;
	right: 100%
}

.menu>li ul {
	width: 200px;
	padding: 8px 0;
	background: rgba(255, 255, 255, .5);
	position: absolute;
	z-index: 99;
	opacity: 0;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transform: translate3d(0, 10px, 0);
	-webkit-transform: translate3d(0, 10px, 0);
	-moz-transform: translate3d(0, 10px, 0);
	visibility: hidden;
	margin-top: 0;
	text-align: right
}

.menu>li>ul>li {
	position: relative;
	line-height: 24px;
	width: 100%;
	vertical-align: top
}

.menu>li>ul>li i {
	display: inline-block;
	margin-right: 2px
}

.menu>li>ul>.has-dropdown:after {
	color: #fff;
	top: 5px;
	right: 24px;
	content: "\e649"
}

.menu>li>ul li a {
	color: #292929;
	height: auto;
	padding: 6px 24px
}

.menu>li>ul>li>ul {
	left: 100%;
	top: 0
}

.menu>li:hover>ul {
	opacity: 1;
	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	visibility: visible
}

.has-dropdown:hover .mega-menu ul,
.menu>li>ul>li:hover>ul {
	opacity: 1;
	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	visibility: visible
}

.make-right {
	right: 0
}

.module.widget-handle {
	border-left: 1px solid #ccc;
	padding: 0 24px;
	cursor: pointer;
	position: relative;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin: 0
}

@media all and (max-width:1100px) {
	.module.widget-handle {
		padding: 0 16px
	}
}

.module.widget-handle i {
	font-size: 20px;
	line-height: 53px;
	opacity: .5;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease
}

.module.active i,
.module.widget-handle:hover i {
	opacity: 1
}

.widget-handle .function {
	-webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
	cursor: default;
	width: 200px;
	background: #292929;
	position: absolute;
	z-index: 99;
	opacity: 0;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transform: translate3d(0, 10px, 0);
	-webkit-transform: translate3d(0, 10px, 0);
	-moz-transform: translate3d(0, 10px, 0);
	visibility: hidden;
	margin-top: -2px;
	right: 0
}

.module.widget-handle:hover .function {
	opacity: 1;
	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	visibility: visible
}

.module.widget-handle .title {
	font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 600;
	display: none;
	opacity: .5;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease
}

.module.widget-handle .title:hover {
	opacity: 1
}

.widget-handle .search-form {
	padding: 8px;
	display: inline-block;
	width: 100%;
	line-height: 50px
}

nav .widget {
	margin: 0;
	padding: 24px
}

nav .widget .title {
	display: none!important
}

nav .widget,
nav .widget a:not(.btn) {
	color: #fff
}

nav .widget hr {
	border-color: #777;
	margin-bottom: 16px
}

nav .widget hr:first-of-type {
	display: none
}

.language .menu>li ul {
	max-width: 150px
}

@media all and (max-width:1120px) {
	.menu>li {
		margin-right: 24px
	}
}

@media all and (max-width:990px) {
	.offscreen-container {
		width: 100vw
	}
	.offscreen-container.reveal-nav {
		transform: translate3d(0, 0, 0);
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0)
	}
	.main-container.reveal-nav {
		transform: none!important
	}
}

@media all and (max-width:990px) {
	nav.fixed {
		position: absolute!important;
		opacity: 1!important;
		visibility: visible!important
	}
	nav.outOfSight {
		transform: translate3d(0, 0, 0)!important;
		-webkit-transform: translate3d(0, 0, 0)!important;
		-moz-transform: translate3d(0, 0, 0)!important
	}
	.nav-bar,
	.nav-bar .module,
	.nav-bar .module-group {
		height: auto;
		overflow: hidden
	}
	.nav-bar .module {
		padding: 0 16px
	}
	.nav-bar .module-group {
		width: 100%;
		padding: 16px 0
	}
	.nav-bar .module-group .module {
		display: block;
		float: none;
		width: 100%
	}
	nav.nav-centered .logo {
		margin: 24px 0 16px 0;
		max-height: 40px
	}
	.menu {
		height: auto
	}
	.menu.inline-block {
		width: 100%
	}
	.menu a {
		height: auto;
		line-height: 24px;
		padding: 4px 0
	}
	.menu li {
		line-height: 24px;
		float: none;
		display: block;
		width: 100%;
		max-width: 100%
	}
	.menu>li ul {
		position: relative;
		width: 100%;
		opacity: 1;
		visibility: visible;
		transform: translate3d(0, 0, 0);
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		left: 0
	}
	.menu>li>ul {
		position: relative;
		opacity: 1;
		visibility: visible;
		display: none;
		transform: translate3d(0, 0, 0);
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0)
	}
	.menu>li>ul>.has-dropdown:after {
		content: "\e64b"
	}
	.menu>li>ul>li>ul {
		left: 0;
		display: none;
		padding: 0
	}
	.mega-menu .title,
	.menu>li>ul li a {
		padding: 4px 16px
	}
	.has-dropdown .has-dropdown li {
		padding-left: 18px
	}
	.has-dropdown {
		padding-right: 0
	}
	.mega-menu {
		margin-left: 0!important
	}
	.mega-menu li {
		width: 100%!important
	}
	.toggle-sub .mega-menu ul,
	.toggle-sub>ul {
		display: block!important
	}
	.module.widget-handle {
		border-left: none;
		line-height: 40px;
		min-height: 40px
	}
	.module.widget-handle .menu {
		line-height: 40px
	}
	.module.widget-handle .menu li {
		line-height: 40px
	}
	.module.widget-handle i {
		line-height: 40px
	}
	.module.widget-handle .title {
		display: inline-block;
		position: relative;
		bottom: 3px;
		margin-left: 8px
	}
	.widget-handle .function {
		width: 100%;
		position: relative;
		opacity: 1;
		transform: translate3d(0, 0, 0);
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		visibility: visible;
		margin-top: 0;
		display: none;
		box-shadow: none!important
	}
	.toggle-widget-handle .function {
		display: block!important
	}
	.widget-handle .cart .label {
		width: 22px;
		height: 22px;
		font-size: 12px;
		line-height: 22px;
		top: 18px
	}
	.mobile-toggle {
		border-left: 1px solid #ccc!important;
		border-bottom: none!important
	}
	.mobile-toggle i {
		line-height: 53px!important
	}
	.mobile-toggle.absolute-xs {
		position: absolute;
		top: 0
	}
	nav.nav-centered .mobile-toggle {
		width: 100%
	}
	nav.bg-dark .module.widget-handle {
		border-top: 1px solid #444
	}
	nav.bg-dark .mobile-toggle {
		border-left: 1px solid #444!important
	}
	nav.bg-dark .nav-open .mobile-toggle {
		border-bottom: 1px solid #444
	}
}

nav.outOfSight {
	transform: translate3d(0, -200px, 0);
	-webkit-transform: translate3d(0, -200px, 0);
	-moz-transform: translate3d(0, -200px, 0)
}

nav.scrolled {
	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease
}

nav.absolute,
nav.fixed {
	top: 0;
	width: 100%;
	z-index: 999;
	left: 0;
	right: 0
}

nav.absolute {
	position: absolute
}

nav.fixed {
	position: fixed;
	visibility: hidden;
	opacity: 0
}

nav.fixed .nav-utility {
	display: none
}

nav.fixed.scrolled {
	visibility: visible;
	opacity: 1
}

nav.transparent .menu>li>a,
nav.transparent .module.widget-handle i,
nav.transparent .nav-utility {
	color: #292929
}

nav.transparent .nav-bar,
nav.transparent .nav-utility {
	border-bottom: 1px solid rgba(255, 255, 255, .2)
}

nav.transparent .module.widget-handle {
	border-left: 1px solid rgba(255, 255, 255, .2)!important
}

nav.transparent .menu>li>a,
nav.transparent .module.widget-handle i {
	opacity: 1
}

nav.transparent .has-dropdown:after {
	color: #fff
}

nav.transparent .logo-dark {
	display: none
}

nav.transparent .logo-light {
	display: inline
}

nav.transparent {
	background: 0 0
}

.has-offscreen-nav>nav.fixed {
	opacity: 1;
	transform: none;
	visibility: visible
}

@media all and (max-width:990px) {
	nav.transparent .nav-open {
		background: #fff
	}
	nav.transparent .nav-open .menu>li>a,
	nav.transparent .nav-open .module.widget-handle i,
	nav.transparent .nav-open .nav-utility {
		color: #292929
	}
	nav.transparent .nav-open .logo-dark {
		display: inline
	}
	nav.transparent .nav-open .logo-light {
		display: none
	}
	.menu>li:last-child>ul ul {
		right: 0
	}
}

nav.transparent.fixed {
	background: #fff;
	border-bottom: 1px solid #dcdcdc
}

nav.transparent.fixed .logo-light {
	display: none
}

nav.transparent.fixed .logo-dark {
	display: inline
}

nav.transparent.fixed .menu>li>a,
nav.transparent.fixed .module.widget-handle i {
	color: #292929
}

nav.transparent.fixed .menu>.has-dropdown:after {
	color: #fff
}

nav.transparent.fixed .module.widget-handle {
	border-left: 1px solid #ccc
}

nav.transparent.fixed .menu>li>a,
nav.transparent.fixed .module.widget-handle i {
	opacity: .5
}

nav.bg-dark .menu>li>a,
nav.bg-dark .module.widget-handle i,
nav.bg-dark .nav-utility {
	color: #fff;
	opacity: .7
}

nav.bg-dark .module.widget-handle {
	border-left: 1px solid rgba(255, 255, 255, .2)
}

nav.bg-dark .nav-bar,
nav.bg-dark .nav-utility {
	border-bottom: 1px solid rgba(255, 255, 255, .2)
}

nav.transparent.fixed.bg-dark {
	background: #292929
}

nav.transparent.fixed.bg-dark .menu>li>a,
nav.transparent.fixed.bg-dark .module.widget-handle i {
	color: #fff
}

nav.nav-centered.outOfSight .logo {
	display: none
}

.alert {
	margin-bottom: 24px;
	background: 0 0;
	border-radius: 0;
	font-weight: 600;
	padding: 12px 16px
}

.alert .close {
	opacity: 1;
	font-size: 24px;
	top: -2px;
	right: -4px;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease
}

.alert .close span {
	font-weight: 400
}

.alert-warning {
	border: 1px solid #d88519;
	color: #d88519
}

.icon {
	font-size: 64px;
	display: inline-block;
	color: #292929
}

.image-bg.bg-light .icon {
	color: #292929
}

.bg-dark .icon,
.image-bg .icon {
	color: #fff
}

.icon-lg {
	font-size: 80px
}

.icon-sm {
	font-size: 32px
}

.icon-xs {
	font-size: 18px
}

@media all and (max-width:767px) {
	.icon {
		font-size: 48px
	}
	.icon-lg {
		font-size: 64px
	}
	.icon-sm {
		font-size: 18px
	}
	.icon-xs {
		font-size: 16px
	}
}

.footer-1 .logo {
	max-height: 30px
}

.bg-secondary select {
	background: #fff
}

.image-bg.bg-light button.transparent {
	border-color: #292929
}

button.transparent {
	background: 0 0;
	border: 1px solid rgba(255, 255, 255, .5);
	color: #fff!important
}

/*::-webkit-input-placeholder {
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	color: #777;
	font-size: 11px
}

:-moz-placeholder {
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	color: #777;
	font-size: 11px
}

::-moz-placeholder {
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	color: #777;
	font-size: 11px
}

:-ms-input-placeholder {
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	color: #777;
	font-size: 11px
}*/

button.transparent::-webkit-input-placeholder {
	color: #fff
}

button.transparent::-moz-input-placeholder {
	color: #fff
}

button.transparent:-moz-input-placeholder {
	color: #fff
}

button.transparent:-ms-input-placeholder {
	color: #fff
}

@media all and (min-width:991px) {
	button.col-md-6 {
		width: 49%;
		float: left
	}
	button.col-md-6:first-of-type {
		margin-right: 1%
	}
	button.col-md-6:last-of-type {
		margin-left: 1%
	}
}

@keyframes pulsate {
	0% {
		transform: scale(.1);
		opacity: 0
	}
	50% {
		opacity: 1
	}
	100% {
		transform: scale(1.2);
		opacity: 0
	}
}

@-webkit-keyframes pulsate {
	0% {
		transform: scale(.1);
		opacity: 0
	}
	50% {
		opacity: 1
	}
	100% {
		transform: scale(1.2);
		opacity: 0
	}
}

.page-title {
	padding: 0
}

.page-title .container {
	position: relative;
	transform: translate3d(0, -50%, 0);
	-webkit-transform: translate3d(0, -50%, 0);
	top: 50%;
	z-index: 2
}

.page-title i {
	position: relative;
	top: 1px
}

@media all and (max-width:767px) {
	.page-title i {
		display: none
	}
}

.page-title-1,
.page-title-2 {
	height: 400px
}

@media all and (max-width:767px) {
	.page-title-1,
	.page-title-2 {
		height: 320px
	}
}

.page-title-3,
.page-title-4 {
	height: 240px
}

@media all and (max-width:767px) {
	.page-title .text-right {
		text-align: left!important
	}
}

.widget {
	margin-bottom: 48px
}

.widget p:last-child,
.widget ul:last-child {
	margin-bottom: 0
}

.widget .title {
	font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 24px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 700;
	margin-bottom: 12px
}

.widget hr {
	margin-bottom: 12px
}

@keyframes kenBurnsEast {
	from {
		transform: scale(1) translateX(0);
		-webkit-transform: scale(1) translateX(0)
	}
	to {
		transform: scale(1.2) translateX(100px);
		-webkit-transform: scale(1.2) translateX(100px)
	}
}

@-webkit-keyframes kenBurnsEast {
	from {
		transform: scale(1) translateX(0);
		-webkit-transform: scale(1) translateX(0)
	}
	to {
		transform: scale(1.2) translateX(100px);
		-webkit-transform: scale(1.2) translateX(100px)
	}
}

@keyframes kenBurnsWest {
	from {
		transform: scale(1) translateX(0);
		-webkit-transform: scale(1) translateX(0)
	}
	to {
		transform: scale(1.2) translateX(-100px);
		-webkit-transform: scale(1.2) translateX(-100px)
	}
}

@-webkit-keyframes kenBurnsWest {
	from {
		transform: scale(1) translateX(0);
		-webkit-transform: scale(1) translateX(0)
	}
	to {
		transform: scale(1.2) translateX(-100px);
		-webkit-transform: scale(1.2) translateX(-100px)
	}
}

.image-bg.bg-light h1,
.image-bg.bg-light h2,
.image-bg.bg-light h3,
.image-bg.bg-light h4,
.image-bg.bg-light h5,
.image-bg.bg-light h6 {
	color: #222
}

.image-bg.bg-light li,
.image-bg.bg-light p,
.image-bg.bg-light span {
	color: #777
}

.product-single .image-slider .label {
	font-size: 12px;
	text-transform: uppercase;
	position: absolute;
	z-index: 3;
	top: 16px;
	right: 16px
}

.product-single .price {
	font-size: 32px;
	font-weight: 300;
	line-height: 40px;
	display: inline-block;
	margin-right: 32px
}

.product-single .old-price {
	text-decoration: line-through;
	opacity: .7
}

.product-single .price:not(.old-price) {
	color: #eb6715
}

.local-video-container {
	position: relative;
	margin-bottom: 24px
}

.local-video-container video {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26)
}

.local-video-container .background-image-holder {
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	top: 0;
	box-shadow: 0 1px 15px 0 rgba(0, 0, 0, .26)
}

@media all and (max-width:767px) {
	video {
		max-width: 100%!important
	}
}

.post-title h4 {
	position: relative;
	top: 2px;
	margin-bottom: 16px;
	margin-right: 16px
}

.post-meta {
	overflow: hidden;
	display: inline-block;
	margin-bottom: 12px
}

.post-meta>li {
	float: left;
	margin-right: 24px
}

.post-meta i {
	font-size: 16px;
	margin-right: 8px;
	position: relative;
	top: 2px
}

@-moz-keyframes spin {
	100% {
		-moz-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

@keyframes spin {
	100% {
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

@media all and (max-width:767px) {
	.post-title h4 {
		top: 0;
		display: block
	}
}

.image-md {
	max-height: 120px
}

.image-small {
	max-height: 80px
}

.image-xs {
	max-height: 50px
}

.image-edge .container {
	position: relative
}

.image-edge .container div[class*=col-] {
	position: absolute
}

@media all and (max-width:990px) {
	.image-edge .container div[class*=col-] {
		position: relative;
		top: 0;
		transform: none;
		-webkit-transform: none
	}
}

.mb0 {
	margin-bottom: 0!important
}

.mb8 {
	margin-bottom: 8px
}

.mb16 {
	margin-bottom: 16px
}

.mb24 {
	margin-bottom: 24px
}

.mb30 {
	margin-bottom: 30px
}

.mb32 {
	margin-bottom: 32px
}

.mb40 {
	margin-bottom: 40px
}

.mb48 {
	margin-bottom: 48px
}

.mb56 {
	margin-bottom: 56px
}

.mb64 {
	margin-bottom: 64px
}

.mb72 {
	margin-bottom: 72px
}

.mb80 {
	margin-bottom: 80px
}

.mb88 {
	margin-bottom: 88px
}

.mb96 {
	margin-bottom: 96px
}

.mb104 {
	margin-bottom: 104px
}

.mb112 {
	margin-bottom: 112px
}

.mb120 {
	margin-bottom: 120px
}

.mb160 {
	margin-bottom: 160px
}

.p32 {
	padding: 0 32px
}

.p24 {
	padding: 24px
}

.p0 {
	padding: 0
}

.pt0 {
	padding-top: 0
}

.pt8 {
	padding-top: 8px
}

.pt16 {
	padding-top: 16px
}

.pt24 {
	padding-top: 24px
}

.pt32 {
	padding-top: 32px
}

.pt40 {
	padding-top: 40px
}

.pt48 {
	padding-top: 48px
}

.pt64 {
	padding-top: 64px
}

.pt72 {
	padding-top: 72px
}

.pt80 {
	padding-top: 80px
}

.pt88 {
	padding-top: 88px
}

.pt96 {
	padding-top: 96px
}

.pt104 {
	padding-top: 104px
}

.pt112 {
	padding-top: 112px
}

.pt120 {
	padding-top: 120px
}

.pt160 {
	padding-top: 160px
}

.pt180 {
	padding-top: 180px
}

.pt240 {
	padding-top: 240px
}

.pb0 {
	padding-bottom: 0
}

.pb8 {
	padding-bottom: 8px
}

.pb16 {
	padding-bottom: 16px
}

.pb24 {
	padding-bottom: 24px
}

.pb32 {
	padding-bottom: 32px
}

.pb40 {
	padding-bottom: 40px
}

.pb48 {
	padding-bottom: 48px
}

.pb56 {
	padding-bottom: 56px
}

.pb64 {
	padding-bottom: 64px
}

.pb72 {
	padding-bottom: 72px
}

.pb80 {
	padding-bottom: 80px
}

.pb88 {
	padding-bottom: 88px
}

.pb96 {
	padding-bottom: 96px
}

.pb104 {
	padding-bottom: 104px
}

.pb112 {
	padding-bottom: 112px
}

.pb120 {
	padding-bottom: 120px
}

.pb160 {
	padding-bottom: 160px
}

.pb180 {
	padding-bottom: 180px
}

.pb240 {
	padding-bottom: 240px
}

@media all and (max-width:990px) {
	.mb-s-0 {
		margin-bottom: 0
	}
	.mb-s-8 {
		margin-bottom: 8px
	}
	.mb-s-16 {
		margin-bottom: 16px
	}
	.mb-s-24 {
		margin-bottom: 24px
	}
	.mb-s-32 {
		margin-bottom: 32px
	}
	.mb-s-40 {
		margin-bottom: 40px
	}
	.mb-s-48 {
		margin-bottom: 48px
	}
	.mb-s-64 {
		margin-bottom: 64px
	}
	.mb-s-72 {
		margin-bottom: 72px
	}
	.mb-s-80 {
		margin-bottom: 80px
	}
	.mb-s-88 {
		margin-bottom: 88px
	}
	.mb-s-96 {
		margin-bottom: 96px
	}
	.mb-s-104 {
		margin-bottom: 104px
	}
	.mb-s-112 {
		margin-bottom: 112px
	}
	.mb-s-120 {
		margin-bottom: 120px
	}
}

@media all and (max-width:990px) {
	.mb-sm-0 {
		margin-bottom: 0
	}
	.mb-sm-8 {
		margin-bottom: 8px
	}
	.mb-sm-16 {
		margin-bottom: 16px
	}
	.mb-sm-24 {
		margin-bottom: 24px
	}
	.mb-sm-32 {
		margin-bottom: 32px
	}
	.mb-sm-40 {
		margin-bottom: 40px
	}
	.mb-sm-48 {
		margin-bottom: 48px
	}
	.mb-sm-64 {
		margin-bottom: 64px
	}
	.mb-sm-72 {
		margin-bottom: 72px
	}
	.mb-sm-80 {
		margin-bottom: 80px
	}
	.mb-sm-88 {
		margin-bottom: 88px
	}
	.mb-sm-96 {
		margin-bottom: 96px
	}
	.mb-sm-104 {
		margin-bottom: 104px
	}
	.mb-sm-112 {
		margin-bottom: 112px
	}
	.mb-sm-120 {
		margin-bottom: 120px
	}
	.mt-sm-0 {
		margin-top: 0!important
	}
	.mt-sm-8 {
		margin-top: 8px
	}
	.mt-sm-16 {
		margin-top: 16px
	}
	.mt-sm-24 {
		margin-top: 24px
	}
	.mt-sm-32 {
		margin-top: 32px
	}
	.mt-sm-40 {
		margin-top: 40px
	}
	.mt-sm-48 {
		margin-top: 48px
	}
	.mt-sm-56 {
		margin-top: 56px
	}
	.mt-sm-64 {
		margin-top: 64px
	}
	.mt-sm-72 {
		margin-top: 72px
	}
	.mt-sm-80 {
		margin-top: 80px
	}
	.mt-sm-88 {
		margin-top: 88px
	}
	.mt-sm-96 {
		margin-top: 96px
	}
	.mt-sm-104 {
		margin-top: 104px
	}
	.mt-sm-112 {
		margin-top: 112px
	}
	.mt-sm-120 {
		margin-top: 120px
	}
	.p0-sm {
		padding: 0
	}
	.pt-sm-0 {
		padding-top: 0
	}
	.pt-sm-8 {
		padding-top: 8px
	}
	.pt-sm-16 {
		padding-top: 16px
	}
	.pt-sm-24 {
		padding-top: 24px
	}
	.pt-sm-32 {
		padding-top: 32px
	}
	.pt-sm-40 {
		padding-top: 40px
	}
	.pt-sm-48 {
		padding-top: 48px
	}
	.pt-sm-64 {
		padding-top: 64px
	}
	.pt-sm-72 {
		padding-top: 72px
	}
	.pt-sm-80 {
		padding-top: 80px
	}
	.pt-sm-88 {
		padding-top: 88px
	}
	.pt-sm-96 {
		padding-top: 96px
	}
	.pt-sm-104 {
		padding-top: 104px
	}
	.pt-sm-112 {
		padding-top: 112px
	}
	.pt-sm-120 {
		padding-top: 120px
	}
	.pt-sm-160 {
		padding-top: 160px
	}
	.pb-sm-0 {
		padding-bottom: 0
	}
	.pb-sm-8 {
		padding-bottom: 8px
	}
	.pb-sm-16 {
		padding-bottom: 16px
	}
	.pb-sm-24 {
		padding-bottom: 24px
	}
	.pb-sm-32 {
		padding-bottom: 32px
	}
	.pb-sm-40 {
		padding-bottom: 40px
	}
	.pb-sm-48 {
		padding-bottom: 48px
	}
	.pb-sm-64 {
		padding-bottom: 64px
	}
	.pb-sm-72 {
		padding-bottom: 72px
	}
	.pb-sm-80 {
		padding-bottom: 80px
	}
	.pb-sm-88 {
		padding-bottom: 88px
	}
	.pb-sm-96 {
		padding-bottom: 96px
	}
	.pb-sm-104 {
		padding-bottom: 104px
	}
	.pb-sm-112 {
		padding-bottom: 112px
	}
	.pb-sm-120 {
		padding-bottom: 120px
	}
}

@media all and (max-width:767px) {
	.mb-xs-0 {
		margin-bottom: 0
	}
	.mb-xs-8 {
		margin-bottom: 8px
	}
	.mb-xs-16 {
		margin-bottom: 16px
	}
	.mb-xs-24 {
		margin-bottom: 24px
	}
	.mb-xs-32 {
		margin-bottom: 32px
	}
	.mb-xs-40 {
		margin-bottom: 40px
	}
	.mb-xs-48 {
		margin-bottom: 48px
	}
	.mb-xs-64 {
		margin-bottom: 64px
	}
	.mb-xs-72 {
		margin-bottom: 72px
	}
	.mb-xs-80 {
		margin-bottom: 80px
	}
	.mb-xs-88 {
		margin-bottom: 88px
	}
	.mb-xs-96 {
		margin-bottom: 96px
	}
	.mb-xs-104 {
		margin-bottom: 104px
	}
	.mb-xs-112 {
		margin-bottom: 112px
	}
	.mb-xs-120 {
		margin-bottom: 120px
	}
	.mt-xs-0 {
		margin-top: 0!important
	}
	.mt-xs-8 {
		margin-top: 8px
	}
	.mt-xs-16 {
		margin-top: 16px
	}
	.mt-xs-24 {
		margin-top: 24px
	}
	.mt-xs-32 {
		margin-top: 32px
	}
	.mt-xs-40 {
		margin-top: 40px
	}
	.mt-xs-48 {
		margin-top: 48px
	}
	.mt-xs-56 {
		margin-top: 56px
	}
	.mt-xs-64 {
		margin-top: 64px
	}
	.mt-xs-72 {
		margin-top: 72px
	}
	.mt-xs-80 {
		margin-top: 80px
	}
	.mt-xs-88 {
		margin-top: 88px
	}
	.mt-xs-96 {
		margin-top: 96px
	}
	.mt-xs-104 {
		margin-top: 104px
	}
	.mt-xs-112 {
		margin-top: 112px
	}
	.mt-xs-120 {
		margin-top: 120px
	}
	.p0-xs {
		padding: 0
	}
	.pt-xs-0 {
		padding-top: 0
	}
	.pt-xs-8 {
		padding-top: 8px
	}
	.pt-xs-16 {
		padding-top: 16px
	}
	.pt-xs-24 {
		padding-top: 24px
	}
	.pt-xs-32 {
		padding-top: 32px
	}
	.pt-xs-40 {
		padding-top: 40px
	}
	.pt-xs-48 {
		padding-top: 48px
	}
	.pt-xs-64 {
		padding-top: 64px
	}
	.pt-xs-72 {
		padding-top: 72px
	}
	.pt-xs-80 {
		padding-top: 80px
	}
	.pt-xs-88 {
		padding-top: 88px
	}
	.pt-xs-96 {
		padding-top: 96px
	}
	.pt-xs-104 {
		padding-top: 104px
	}
	.pt-xs-112 {
		padding-top: 112px
	}
	.pt-xs-120 {
		padding-top: 120px
	}
	.pt-xs-160 {
		padding-top: 160px
	}
	.pt-xs-180 {
		padding-top: 180px
	}
	.pt-xs-240 {
		padding-top: 240px!important
	}
	.pb-xs-0 {
		padding-bottom: 0
	}
	.pb-xs-8 {
		padding-bottom: 8px
	}
	.pb-xs-16 {
		padding-bottom: 16px
	}
	.pb-xs-24 {
		padding-bottom: 24px
	}
	.pb-xs-32 {
		padding-bottom: 32px
	}
	.pb-xs-40 {
		padding-bottom: 40px
	}
	.pb-xs-48 {
		padding-bottom: 48px
	}
	.pb-xs-64 {
		padding-bottom: 64px
	}
	.pb-xs-72 {
		padding-bottom: 72px
	}
	.pb-xs-80 {
		padding-bottom: 80px
	}
	.pb-xs-88 {
		padding-bottom: 88px
	}
	.pb-xs-96 {
		padding-bottom: 96px
	}
	.pb-xs-104 {
		padding-bottom: 104px
	}
	.pb-xs-112 {
		padding-bottom: 112px
	}
	.pb-xs-120 {
		padding-bottom: 120px
	}
	.pb-xs-180 {
		padding-bottom: 180px
	}
	.pb-xs-240 {
		padding-bottom: 240px!important
	}
}