/*
* Title: Web. Style
* Author: Aldasoro
* Template: Mesural
* Version: 0.1.1
* Copyright 2020 Mesural Inc.
* Url: https://www.mesural.com


Content table
--------------
1. Fonts
2. Basics
3. Capsule
4. Buy capsule
98. Suport
99. Footer

/* ----- 1. Fonts ----- */
@font-face {
	font-family: "HelveticaNeue bold";
	src: url("fonts/HelveticaNeue-Bold");
}

/* ----- 2. Basics ----- */
.center{
	text-align: center;
}
.second-inline{
	margin-left:25px;
}
.reduce-top-50{
	margin-top:-50px;
}
p a{
	color:#a0a0a0;
	font-size: 16px;
	font-weight: 400;
}
p a:hover{
	color:#a00000;
}
/* ----- 3. Main ----- */
.main h1{
	color:#fff;
	font-size: 56px;
	line-height: 64px;
	font-weight: 300;
	font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* ----- 3. Capsule ----- */
.container h2{
	font-size: 32px;
	letter-spacing: 1px;
	text-rendering: optimizeLegibility;
	font-family: HelveticaNeue bold;
	font-weight: bolder;
	margin-bottom:10px;
}
.container h3{
	letter-spacing: 1px;
	margin-bottom:10px;
	font-size: 20px;
}
.container p{
	font-size: 16px;	
}
#capsule{
	max-width: 400px;
}
.capsule-buttons{
	display: block;
	font-size: 15px;
	letter-spacing: 1px; 
	font-weight: normal;
}
.capsule-buttons .fas{
	font-size:9px;
	color:#a00000;
}
.capsule-buttons a{
	color:#a00000;
	font-size:15px;
	font-weight: normal;
}
.capsule-buttons a:hover{
	color:#a00000;
	text-decoration: underline;
}
#devices{
	width:80%;
	margin-top:50px;
}
#devices-text{
	margin-top:150px;
	text-align:right;
}
.mesuralDevices{
    -moz-box-pack: center;
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 0px auto;
	margin-top:0px;
	margin-bottom:80px;
}
.mesuralDevices a{
	color:#333;
}
.deviceTitle{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -moz-box-orient: vertical;
    font-weight: 300;
    overflow-wrap: break-word;
    margin-top:5px;
    font-size: 0.9em;
    color:#666;
}
.device{
    -moz-box-pack: center;
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    -moz-box-align: center;
    outline: currentcolor none medium;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    color: #333;
    display: flex;
    margin-left:20px;
    margin-right:20px;
    flex-direction: column;
    hyphens: auto;
    justify-content: center;
    max-width: 15%;
    min-width: 0px;
    padding: 0px 2px;
    text-align: center;
    text-decoration: none;
}
.deviceLogo{
    height: 30px;
    margin-bottom: 2px;
    padding: 0px;
    width: 30px;
    color:#666;
}
.buyDevice{
	margin-bottom:20px !important;
	position: relative;
	z-index: 10;
}

/* ----- 4. Buy capsule ----- */
#capsule{
	width:80%;
}
.buy-title{
	font-size: 20px;
	color:#000;
	margin-top: 30px;
	margin-bottom: 15px;
	font-weight: 700;
}
.buy-specs{
	font-size: 12px;
	line-height: 14px;
	color:#666;
}
.deliver{
	width: 280px;
	padding-top: 20px;
}
.items{
	font-size: 20px;
	color:#000;
	margin-top: 30px;
	margin-bottom: 15px;
	font-weight: 500;
	text-align: right;
    position: relative;
    display: inline-block;
}
.items select{
	font-size: 20px;
	height:20px;
    display: inline-block;
    width: 50px;
    cursor: pointer;
    border: 0px solid #000;
    border-radius: 0px;
    background: #fff;
    color: #000;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.select-arrow{
    position: absolute;
    top: 3px;
    right: 5px;
    width: 0px;
    height: 0px;
    border: solid #cccccc;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.price{
	font-size: 20px;
	color:#000;
	margin-top: 30px;
	margin-bottom: 15px;
	font-weight: 500;
	text-align: right;
}
.capsule-connectivity{
	border-bottom:1px solid #999;
	padding-bottom:20px;
}
.total-compra{
	padding-left: 0;
	padding-right: 0;
}
.concepte .subtotal{
	margin-top: 30px;
	font-size: 16px;
	color:#333;
}
.value{
	text-align: right;
}
.value .subtotal{
	margin-top: 30px;
	font-size: 16px;
	color:#333;
}
.concepte .entrega{
	margin-top: 10px;
	font-size: 16px;
	color:#333;
}
.value .entrega{
	margin-top: 10px;
	font-size: 16px;
	color:#333;
}
.value .total{
	margin-top: 30px;
	font-size: 20px;
	color:#333;
	font-weight: 500;
}
.codi-promo{
	margin-top: 8px;
	font-size: 12px;
}
.codi-promo a{
	color:#999;
	font-weight:300;
}
.codi-promo a:hover{
	color:#a00000;
}
.ruby{
	display: ruby;
}
#promo input{
	border: solid 1px #dcdcdc;
    padding-left: 1rem;
    color: #999;
    height: 3em;
    border-radius: 6px;
    width:200px;
    margin-top:10px;
}
#promo button{
	background:rgba(160,0,0,1) !important;
	line-height: 14px !important;
	color:#fff !important;
	height: 40px !important;
	width: 80px !important;
	font-size: 12px !important;
	font-family: 'Roboto','Helvetica','Myriad Set Pro','Lucida Grande','Helvetica Neue','Helvetica','Arial','Verdana',serif;
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400 !important;
	border: none !important;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    border-left-color: transparent !important;
	border-top-color:transparent !important;
	border-right-color:transparent !important;
	border-bottom-color:transparent !important;
	border-left-color:transparent !important;
	border-radius: 4px !important;
	letter-spacing:0 !important;
}
#promo .alert-zone{
	padding-left:10px;
}
.fail{
    color: rgb(165,0,0);    
}
.success{
    color: rgb(0,90,0);    
}

.totals{
	padding-bottom: 20px;
	border-bottom:1px solid #999;
}
.concepte .total{
	margin-top: 30px;
	font-size: 20px;
	color:#333;
	font-weight: 700;
}
.iva{
	color:#999;
	margin-top: 8px;
	font-size: 12px;
}
.pay{
	background:rgba(160,0,0,1) !important;
	margin-right: 0px;
	line-height: 14px !important;
	color:#fff !important;
	height: 40px !important;
	margin-top: 30px;
	width: 200px !important;
	font-size: 14px !important;
	text-transform: uppercase !important;
	-moz-transition: all 0.2s ease-in !important;
	-webkit-transition: all 0.2s ease-in !important;
	-o-transition: all 0.2s ease-in !important;
	transition: all 0.2s ease-in !important;
	font-family: 'Roboto','Helvetica','Myriad Set Pro','Lucida Grande','Helvetica Neue','Helvetica','Arial','Verdana',serif;
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-weight: 400 !important;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation !important;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none;
	background-image: none !important;
	border: 1px solid transparent !important;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    border-left-color: transparent !important;
	border-top-color:transparent !important;
	border-right-color:transparent !important;
	border-bottom-color:transparent !important;
	border-left-color:transparent !important;
	border-radius: 4px !important;
	letter-spacing:0 !important;
}

/* ----- 98. Suport ----- */
.suport img{
	height: 50px;
}

/* ----- 98. Legal ----- */
.legal p{
	font-size:1em;
}

/* ----- 99. Footer ----- */
.footer{
    width: 100%;
    background: #000;
    font-size: 12px;
    line-height: 22px;
    font-weight: 300;
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer ul{
    list-style: none;
}
.footer a{
    color: #969696;
}
.footer a:hover, .titol a:hover{
    color: #a00000;
}
.logo-footer {
    max-width: 80%;
    display: initial;
}
.footer-titol{
    margin-bottom: 12px;
}
.footer-titol a{
    color: #fff !important;
    font-weight: 500;
    text-transform: uppercase;
}
.footer-message{
    display: block;
    color: #6e6e6e;
    font-size: 0.9em;
    margin-top: -5px;
    margin-left: 20px;
}
.copyright{
    color: #969696;
    text-align: center;
    padding-top: 20px;
}